@import 'variables';
.bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
}
.raw-button {
	padding: 8px 5px;
	outline: none;
	border: none;
	font-family: $bold;
	border-radius: 3px;
	width:100%;
	background:#e3efef;
	transition:all .2s ease-in;
	text-align: center;
	display:block;
	text-decoration: none;
	color:#000;
	&:hover {
		background:#FF8C00;
		color: white;
	}
	&--download {
		color:black;
		text-align: center;
		display: block;
		padding: 8px 5px;
		text-decoration: none;
	}
} 
%btn-reset {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}


body {
background: #efefef url(../img/bg-pattern.png) repeat;
min-width: 900px;
}

.wrapper {
	@extend %clearfix;
	min-height:100%;

	height:auto !important;
	overflow:hidden;
	// background:#e7e7e7;

}
.wrapper:after {
	content: "";
	height: 60px;
	display: block;
}
.page-footer {
	height: 60px;
	margin-top: -60px;
	
	
}
.page-footer-wrap {
	color:#ccc;
	max-width:$main-width;
	margin: 0 auto;
	font-size:14px;
}
.footer-pull-left {
	float: left;
	&__text {
	line-height: 80px;
	font-size: 14px;
	color: #ccc;
	font-weight: 400;
	}
	&__link {
		text-decoration: none;
		color: #ccc;
		font-size: 12px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-pull-right {
	float: right;
	font-size: 12px;
	&__text  {
		line-height: 80px;}
	.fa-modx {
		font-size:18px;
	}
}

.header-wrapper {

	background:#F5F7F7;
	@extend %clearfix;
}
.main-header {
	height: 60px;
	max-width:1100px;
	margin: 0 auto;
	position: relative;
}
.logo {
	padding: 10px 0 0 0;
	width:140px;
	height: 40px;
	float: left;
	&__img {
		max-width: 100%;
	}
}
.search {
	font-family:$regular;
	font-size: 16px;
	position: absolute;
	left:180px;
	top:25%;
	&__input {
		border-radius:4px;
		outline: none;
		border: 1px solid #E8ECED;
		background:#FFF;
		padding: 4px 40px ;
	}
	&__input-icon {
		position: absolute;
		top:6px;
		left:10px;
		color: #A0A7AA;
	}
}
.right-menu {
	float: right;
	height: 100%;
	&__list {
		@extend %clearfix;
		padding: 0 0 0 0;
		height: 100%;
		line-height: 60px;
		float: left;
	}
	&__item {
		float: left;
		margin:0 0 0 20px;
		height: 100%;
	}
	&__link {
		display: block;
		text-decoration: none;
		color:#2b3033;
		font-size: 14px;
		transition: color .3s;
		height: 100%;
		&:hover {
			color: #39ace6;
		}
	}
	&__socials {
		float: left;
		height: 100%;
	}
	&__socials-item {
		float: left;
		margin: 22px 0 0 0;
		line-height: 60px;
		display: inline-block;
	}
	&__socials-link {
		margin: 0 15px 0 0;
		display: block;
		  font: normal normal normal 14px/1 FontAwesome;
		  font-size: 16px;
		  text-rendering: auto;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  color: lighten(#6E7672, 40%);
		  text-decoration: none;
		  transition: color .3s;

		  &:hover {
		  	    color: #39ace6;
		  }
  	
	}
	&__socials-link--vk:before {
		content: "\f189";
		
  	}
  	&__socials-link--ok:before {
		content: "\f263";
		
  	}
  	&__socials-link--fb:before {
		content: "\f09a";
		
  	}
  	&__socials-link--in:before {
		content: "\f16d";
		
  	}
  	&__socials-link--gp:before {
		content: "\f0d5";	
  	}
  	&__socials-link--sk:before {
		content: "\f17e";
		font-size: 18px;
  	}
}

.main-nav {
		background:#fff;
			&__list {
			vertical-align: middle;
			text-align: justify;
			text-align-last: justify;
			min-width:870px;
			max-width: 1100px;
			margin: 0 auto;
			padding: 0 0;
				&:after {
					display: inline-block;
					content: '';
					height: 0px;
					width: 100%;
					overflow: hidden;
					visibility: hidden;
				}
		}
		&__item {
			display: inline-block;
			padding: 20px 0 0 0;
		}
		&__link {
			font-size: 18px;
			display: block;
			width: 100%;
			color:white;
			text-decoration: none;
			color:#2b3033;
			font-family: $bold;
			transition: all .3s;

			&:hover {
				color: #39ace6;
			
				
			}
		}
}
.breadcrumbs-wrap {
	background: #efefef url(../img/destinations-home.jpg) -83% -64px;
    height: 28px;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #E8ECED;
   
}
.breadcrumbs-list {
	@extend %clearfix;
	width:$main-width;
	margin:0 auto;
	&__item {
		height: 26px;
    	line-height: 26px;
		float: left;
		margin: 0 0 0 0;
		background: transparent url(../img/bg-sprite.png) 3px -114px no-repeat;
    	padding: 0 0 0 20px;
	}
	&__item--first {
		background: none;
		padding: 0 0 0 10px;
	}
	&__item--last {
		background-position: 4px -142px;
		
	}
	&__item--end {
		    background-position: 0 -199px;
		    width: 20px;
		    height: 26px;
		    margin: 0;
	}

	&__link {
		font-size: 12px;
		display: block;
		color: #666;
		text-decoration: none;	 
		font-family: $regular;   
	}
	&__link--last {
		background: transparent url(../img/bg-sprite.png) 0 -170px repeat-x;
	    padding-right: 2px;
	}
}
.content-wrapper {
	
	max-width: 1100px;
    min-width: 900px;
	margin: 5px auto;
	@extend %clearfix;
	
	

}

.slider-wrap {
	width:100%;	
	position: relative;
	min-height: 300px;
	max-height: 100%;
	background-image: url("../img/bg2_2.jpg");
	background-size: cover;
	// background-position-y:top; 
	
	&__img {
		max-width:100%;
	}
	&__contacts {
		float: right;
		margin: 40px 140px 0 0;
		// width:220px;
		// height: 200px;
		
	}
}
.contacts-list {
	@extend %clearfix;
	margin: 0 0 10px 0;
	&__item, &__item--velcom, &__item--mts,  {
		color: white;
		margin: 0 0 10px 0;
		font-family: $bold;
		font-size: 24px;
	}
	&__item--address {
		color: white;
		font-size: 14px;
		font-family: $semibold;
	}
	&__item--day {
		float: left;
		display:block;
		width: 15px;
		height: 15px;
		background:#3AD1AA;
		margin:0 10px 0 0;
		
	}
	&__item--day-vacancy {
		@extend .contacts-list__item--day;
		background:orangered;
		
	}
	&__item--time {
		background:#35A2EB;
		border-radius: 3px;
		text-align: center;
		padding: 3px 0;
		color:#fff;
	}


}
.sidebar {

	width:290px;
	float: left;
	box-shadow: 0 1px 4px rgba(0, 0, 0,0.15);
	background:#fff;
	margin: 0 5px 0 0;



}
.right-col {
    /* width: 71%; */
    /* float: left; */
    max-width: 71%;
    min-width: 600px;
    margin: 0 0 0 300px;
}
.category {

	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    // background: #E3EFEF;
    // border-radius: 3px;
    
	&-heading {
		// border: 1px solid #e7e7e7;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		background:#fff;
		font-family: $bold;
		font-size: 18px;
		padding: 10px 10px;
		color: #000;
		// background: linear-gradient(to bottom, #383838, #2f2f2f) repeat scroll 0 0 #333333;
		}
		&__item {
		
		}
		&__link {
			display: block;
			padding: 10px;
			margin: 0 0 0 0;
			color: darken(#8e9994, 20%);
			text-decoration: none;
			font-size: 14px;
			transition: all .2s ease-in;
			position: relative;
			
			&:hover {
				background:#87CEEB;
				color:#fff;
			}
			&--active {
				background:#87CEEB;
				color:#fff;
			}
		}
	&__icon {
		position: absolute;
		display: block;
		content: '';
		background: url('../img/icon_sprite.png') no-repeat;
		width: 16px;
		height: 16px;
    	top:10px;
		left:-20px;
		&--group1 {
			background-position: -45px -77px;
		}
	}
}


.services-section, .rent-section {
	box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	padding: 10px 10px;
	background:#fff;
	&__list {
		box-sizing:border-box;
	}
	&__description {
		padding: 0 0 0 10px;
		margin: 0 0 20px 0;
		font-size: 14px;
		box-sizing:border-box;
	}
	&__title {
		// background:grey;
		font-family: $semibold;
		font-size: 15px;
		color: #FF8C00;
		margin: 0 0 5px 10px;
		border-bottom: 1px dotted #FF8C00;
		display: inline-block;

	}
	&__more {
		@extend %btn-reset;
		border-radius: 2px;
		font-size: 12px;
		padding: 3px 4px;
		color:#fff;
		background:#3AD1AA;
		transition: all .3s;
		border:1px solid #3AD1AA;
		&:hover {
			color:#000;
			background:#fff;
			border:1px solid #3AD1AA;
		}
	}

}

.clients-section {
	&__list {
		@extend %clearfix;

	}
	&__item {
		float: left;	
		height: 100px;		
		margin: 0 5px 0 0;
		vertical-align: text-bottom;
	}
	&__image {
		display: inline;		
		max-width: 100%;
		max-height: 100%;
		
	}
}
.swipe-area {
    display: none;
}
#sidebar-toggle {
    background: #DF314D;
    display: block;
    position: relative;
    padding: 6px 7px 5px 7px;
    float: left;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: skyblue url("../img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a.menu-toast {
	background: orange url("../img/menu2.png") no-repeat center 51%;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	 box-shadow: 0 0 4px rgba(0,0,0,.14),0 1px 6px
	
}