body:after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'LatoWeb'; }
  body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

p, dl, dt, dd {
  padding: 0;
  margin: 0; }

.raw-button, .raw-button--download {
  padding: 8px 5px;
  outline: none;
  border: none;
  font-family: "LatoWebBold";
  border-radius: 3px;
  width: 100%;
  background: #e3efef;
  transition: all .2s ease-in; }
  .raw-button:hover, .raw-button--download:hover {
    background: #FF8C00;
    color: white; }
  .raw-button--download {
    display: inline-block; }

body:after {
  content: "";
  display: table;
  clear: both; }
