.view-tool {
  margin: 10px 0 0 0;
  overflow: hidden; }
  .view-tool__left-col {
    width: 40%;
    min-height: 360px;
    float: left; }
  .view-tool__image {
    width: 100%;
    text-align: center;
    border: 1px solid #e7e7e7; }
  .view-tool__image-source {
    max-width: 100%;
    max-height: 100%; }
  .view-tool__right-col {
    margin: 0 5px;
    width: 55%;
    min-height: 360px;
    float: right; }
  .view-tool__info p {
    margin: 5px 0;
    font-size: 14px;
    text-align: justify;
    text-indent: 20px; }
  .view-tool__subheading {
    margin: 10px 0;
    color: #8e9994;
    font-family: "LatoWebLight"; }
  .view-tool__kit-list {
    font-size: 14px;
    margin: 0 0 0 10px; }

.kit-list__item {
  padding: 0 0 0 10px;
  text-indent: 0px;
  margin: 0 0 5px 0; }
  .kit-list__item:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    color: grey;
    padding: 0 10px 0 0; }

.table-chars {
  border: 1px solid #e7e7e7;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 14px; }
  .table-chars__row:nth-child(even) {
    background: #3ad1aa;
    color: white; }
  .table-chars__row td {
    padding: 5px 10px; }
  .table-chars__row td:first-child {
    font-family: "LatoWebBold"; }
  .table-chars__title {
    background: #fff;
    font-family: "LatoWebBold";
    font-size: 16px;
    padding: 10px 10px;
    color: #8e9994; }

.pricing-mini {
  width: 100%; }
  .pricing-mini thead, .pricing-mini tbody {
    text-align: left;
    font-size: 14px; }
    .pricing-mini thead th, .pricing-mini thead td, .pricing-mini tbody th, .pricing-mini tbody td {
      padding: 7px 9px; }
    .pricing-mini thead td, .pricing-mini tbody td {
      font-family: "LatoWebBold"; }
  .pricing-mini thead {
    background: #e7e7e7;
    color: #8e9994; }

#popup-window {
  margin: 0;
  display: none;
  width: 220px; }
