section.clients-section            
            h2.right-col__heading Среди наших клиентов
            article.right-col__article
              ul.clients-section__list
                li.clients-section__item: img.clients-section__image(src="files/infotelecom.png")
                li.clients-section__item: img.clients-section__image(src="files/anfor.png")
                li.clients-section__item: img.clients-section__image(src="files/belkom.png")
                li.clients-section__item: img.clients-section__image(src="files/abrams.png")