section.services-section
              h2.right-col__heading Выполненные объекты по благоустройству территорий
              .gallery-wrapper
                ul.gallery-list
                  li.gallery-list__item
                    a.gallery-list__link(href="#1")
                      h3.gallery-list__title п. Озеро
                      img.gallery-list__image(src="http://placehold.it/222x200")                    
                  li.gallery-list__item
                    a.gallery-list__link
                      h3.gallery-list__title Колодищи
                      img.gallery-list__image(src="http://placehold.it/222x200")
                      
                  li.gallery-list__item
                    a.gallery-list__link
                      h3.gallery-list__title Городище
                      img.gallery-list__image(src="http://placehold.it/222x200")
                  li.gallery-list__item
                    a.gallery-list__link
                      h3.gallery-list__title Дрозды
                      img.gallery-list__image(src="http://placehold.it/222x200")
                  li.gallery-list__item
                    a.gallery-list__link
                      h3.gallery-list__title д. Бухачи
                      img.gallery-list__image(src="http://placehold.it/222x200")
                  li.gallery-list__item
                    a.gallery-list__link
                      h3.gallery-list__title п. Сранский
                      img.gallery-list__image(src="http://placehold.it/222x200")