header.main-header
        .logo: img.logo__image(src="img/logo.png")
        .search
          input.search__input(type="text" placeholder="Искать инструмент")
          .search__input-icon.fa.fa-search
        nav.right-menu: ul.right-menu__list
          li.right-menu__item: a.right-menu__link(href="#1") Юридическим лицам
      nav.main-nav: ul.main-nav__list
        li.main-nav__item: a.main-nav__link(href="#1") Главная
        li.main-nav__item: a.main-nav__link(href="#1") Аренда инструмента
        li.main-nav__item: a.main-nav__link(href="#1") Продажа инструмента
        li.main-nav__item: a.main-nav__link(href="#1") Расходные материалы
        li.main-nav__item: a.main-nav__link(href="#1") Услуги
        li.main-nav__item: a.main-nav__link(href="#1") Контакты
        li.main-nav__item: a.main-nav__link(href="#1") О нас
      .breadcrumbs-wrap: ul.breadcrumbs-list
        li.breadcrumbs-list__item: a.breadcrumbs-list__link Главная
      .slider-wrap
        .slider-wrap__contacts
          ul.contacts-list
            li.contacts-list__item.contacts-list__item--velcom + 375 29 1 800 600
            li.contacts-list__item.contacts-list__item--mts + 375 33 640 0 660
            li.contacts-list__item.contacts-list__item--address г. Минск, 1-й Короткий пер., 18а
             li.contacts-list__item.contacts-list__item--time 9:00 - 19:00
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day-vacancy
          button.raw-button Карта проезда