aside.sidebar   
          .category-wrap: ul.category
            .category-heading Прокат инструмента
            li.category__item: a.category__link(href="#1")  Алмазный инструмент
            li.category__item: a.category__link(href="#1")  Дорожно-строительный инструмент
            li.category__item: a.category__link(href="#1")  Измерительный инструмент
            li.category__item: a.category__link(href="#1")  Компрессорное оборудование
            li.category__item: a.category__link.a.category__link--active(href="#1")  Моечное и уборочное оборудование
            li.category__item: a.category__link(href="#1")  Садовый и парковый инструмент
            li.category__item: a.category__link(href="#1")  Сварочное оборудование и зарядные устройства
            li.category__item: a.category__link(href="#1")  Оборудование для раствора и бетона
            li.category__item: a.category__link(href="#1")  Тепловые пушки дизельные
          .category-wrap: ul.category
            .category-heading Услуги
            li.category__item: a.category__link(href="#1")  Благоустройство территории
            li.category__item: a.category__link(href="#1")  Алмазное сверление отверстий
            li.category__item: a.category__link(href="#1")  Алмазная резка
            li.category__item: a.category__link(href="#1")  Демонтаж
            li.category__item: a.category__link(href="#1")  Шлифовка пола
          .category-wrap: ul.category
            .category-heading Расходные материалы
            li.category__item: a.category__link(href="#1")  Благоустройство территории
            li.category__item: a.category__link(href="#1")  Алмазное сверление отверстий
            li.category__item: a.category__link(href="#1")  Алмазная резка
            li.category__item: a.category__link(href="#1")  Демонтаж
            li.category__item: a.category__link(href="#1")  Шлифовка пола
    //- .swipe-area 111
    //- a#sidebar-toggle(href='#', data-toggle='.container')
    //-   span.bar
    //-   span.bar
    //-   span.bar