section.services-section

            h2.right-col__heading Благоустройство территории
            article.right-col__article
              p Мы работаем с жилым и коммерческим ландшафтом. Тротуарная плитка применяется для поверхности автомобильных дорог, парковки, мест для прогулок, тротуаров, внутренних двориков коттеджей. Это самый основной элемент в комплексном благоустройстве территорий. Кроме этого, "ПрофиСтрой" оказывает услуги по озеленению детских садов и школ в комплексе с укладкой плитки.
              p Преимущества тротуарной плитки
              ul
                li Срок службы не меньше 20-ти лет.
                li Индивидуальный <strong>дизайн-проект</strong> с большим разнообразием стилей.
                li Способность приспасабливаться к разным природным условиям эксплуатации.
                li В 3 раза устойчивей, чем бетонные и асвальтные поверхности.
              p Как мы работаем?
              p Немного о технологии укладки из уст наших специалистов. В последнее время очень много людей пытаются произвест укладку тротуарной плитки своими руками. Однако, это не такой уж и легкий процесс, как кажется на первый взгляд. Для этого процесса характерны сложные, нестандартные моменты и тяжелый физический труд. И именно из-за этого, мы рекомендуем обратиться к профессионалам по благоустройству участков, например, к нам :)
              img(src="../files/ukladka_plitki.jpg")
              img(src="../files/ukladka_plitki.jpg")
              p Вдаваться в подробности не будем, просто расскажем о самых основных правилах укладки тротуарной плитки.
              p Первый момент в работе - это подготовительный этап, здесь мы создаем план территории, наносим наши пожелания по размещения всех дорожек и площадок на план и уже далее по плану делаем разбивку на местности, учитывая все площади и уклоны.
              p Второй этап - это планировка участка, здесь мы делаем так называемое "корыто" под тротуарную плитку, опять же учитывая размеры и наши требования под мощение.
              p Третий этап - устройство несущих слоёв и их уплотнение, это наиболее важный момент при укладке тротуарной плитки. От него зависит как долго и как красиво пролежит ваш материал. Следующий этап, это установка тротуарного борта (или садового), он служит что бы плитка не расползалась по краям.
            h2.right-col__heading Стоимость услуг
            article.right-col__article
              table
                thead
                  tr
                    th #
                    th Наименование
                    th Ед. изм..
                    th Стоимость
                    th Примечание
                tbody
                  tr
                    td 1
                    td Установка борта тротуарного
                    td м.п.
                    td 50 000
                    td Приготовление бетона не входит в стоимость
                  tr
                    td 2
                    td Подрезка бетонных борта, плитки
                    td м.п.
                    td 30 000
                    td Отрезной диск входит в стоимость
                  tr
                    td 3
                    td Приготовление сухой цементно-песчаной смеси
                    td м3
                    td 450 000
                    td Приготовление бетоносмесителем   
                  tr
                    td 1
                    td Установка борта тротуарного
                    td м.п.
                    td 50 000
                    td Приготовление бетона не входит в стоимость
                  tr
                    td 2
                    td Подрезка бетонных борта, плитки
                    td м.п.
                    td 30 000
                    td Отрезной диск входит в стоимость
                  tr
                    td 3
                    td Приготовление сухой цементно-песчаной смеси
                    td м3
                    td 450 000
                    td Приготовление бетоносмесителем
            
            