section.rent-section
            h2.right-col__heading Инструмент из категории: Моечное и уборочное оборудование
            
            ul.right-col__tools-list
              li.right-col__tools-item
                .tool-type.tool-type--fuel Бензоинструмент
                a.tool-title(href="#1") Тепловая пушка газовая
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000  
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order.run-popup Заказать аренду
                  button.tool-button__more Подробнее                  
              li.right-col__tools-item
                .tool-type.tool-type--electric Электроинструмент
                a.tool-title Тепловая пушка газовая 234dfsd
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000 
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
              li.right-col__tools-item
                .tool-type.tool-type--hand Ручной инструмент
                a.tool-title Тепловая пушка газовая
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
              li.right-col__tools-item
                .tool-type.tool-type--hand Ручной инструмент
                a.tool-title Тепловая пушка газовая
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
              li.right-col__tools-item
                .tool-type.tool-type--hand Ручной инструмент
                a.tool-title Тепловая пушка газовая
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
              li.right-col__tools-item
                .tool-type.tool-type--fuel Бензоинструмент
                a.tool-title Тепловая пушка газовая
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000  
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
              li.right-col__tools-item
                .tool-type.tool-type--electric Электроинструмент
                a.tool-title Тепловая пушка газовая 234dfsd
                .tool-img: img.tool-img__source(src="http://placehold.it/200x170")
                .tool-info
                .tool-price 150 000 
                  small.tool-price__period / Сутки
                .tool-button
                  button.tool-button__order Заказать аренду
                  button.tool-button__order Подробнее
            button.raw-button Покажите больше инструмента
