section.rent-section
            h2.right-col__heading Аренда мойки высокого давления Karcher K7 Premium Car
            .view-tool
              .view-tool__left-col
                .view-tool__image
                  img.view-tool__image-source(src="../../files/1_1.jpg")
                .view-tool__thumbs
                .view-tool__pricing
                  table.pricing-mini
                    thead
                      tr
                        th Сутки
                        th Неделя
                        th Месяц
                    tbody
                      tr
                        td 100 000
                        td 500 000
                        td Договорная
                  button.raw-button.run-popup Уточнить наличие и арендовать

                
              .view-tool__right-col

                table
                  caption Характеристики
                  tr
                    td Номинальная потребляемая мощность
                    td 1.750 Вт
                  tr
                    td Макс. энергия единичного удара
                    td 41 Дж
                  tr
                    td Число ударов при ном. числе оборотов
                    td 1.300 уд/мин
                  tr
                    td Вес
                    td 16,5 кг
                  tr
                    td Значение вибрации ah
                    td 13.0 м/с²
                   tr
                    td Вес
                    td 16,5 кг
                  tr
                    td Значение вибрации ah
                    td 13.0 м/с²
                   tr
                    td Вес
                    td 16,5 кг
                  tr
                    td Значение вибрации ah
                    td 13.0 м/с²
                  tr
                    td Макс. энергия единичного удара
                    td 41 Дж
                  tr
                    td Число ударов при ном. числе оборотов
                    td 1.300 уд/мин
                  tr
                    td Макс. энергия единичного удара
                    td 41 Дж
                  tr
                    td Число ударов при ном. числе оборотов
                    td 1.300 уд/мин
            .view-tool__info
              h3.view-tool__subheading Информация об инструменте:
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam qui, quia harum sit deleniti temporibus itaque possimus veritatis natus excepturi quae blanditiis atque provident architecto error, dicta hic distinctio ea explicabo rem vel commodi delectus asperiores ratione eos. In similique sed, vero omnis earum veritatis ducimus eaque, corporis deserunt expedita officia corrupti fugiat veniam harum atque nihil molestias, nulla
              h3.view-tool__subheading Что идет в комплекте?
              .view-tool__kit-list
                ul
                  li jреза грязевая
                  li jистолет стандартный с регулировкой давления
                  li jланг 20 м.
                  li jреза грязевая
                  li jистолет стандартный с регулировкой давления
                  li jланг 20 м.
              h3.view-tool__subheading Расходные материалы
              p Для данного оборудования расходные материалы не предусмотрены :)
              h3.view-tool__subheading Руководство по эксплуатации
              a.raw-button--download(href="#1") Скачать





            
