doctype html
html(lang="ru-RU")
  head
    title ArendaCity
    link(rel="stylesheet" href="libs/normalize-css/normalize.css")
    link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="css/unstyle.css")
    link(rel="stylesheet" href="css/latofonts.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/tools.css")
    script(src="libs/modernizr/modernizr.js")
  body
    .wrapper
      .header-wrapper
        include includes/_header
      .content-wrapper
          include includes/_sidebar
          main.right-col
            include includes/_list-cat
            //- include includes/_services-section
            //- include includes/_clients-section
    footer.page-footer
    script(src="libs/jquery/jquery.min.js")
    script(src="libs/bPopup/jquery.bpopup.min.js")
    script(src="js/main.js")











             
