doctype html
html(lang="ru-RU")
  head
    title ArendaCity
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="libs/normalize-css/normalize.css")
    link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="css/unstyle.css")
    link(rel="stylesheet" href="css/latofonts.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/tools.css")
    link(rel="stylesheet" href="css/view-tool.css")
    link(rel="stylesheet" href="css/responsive.css")
    script(src="libs/modernizr/modernizr.js")
    script(src="libs/jquery/jquery.min.js")
    script(src="libs/jquery-touchswipe/jquery.touchSwipe.min.js")
    script(src="js/main.js")
  body
    a.back-to-top(href='#') Back to Top
    a.menu-toast(href='#1', data-toggle='.right-col', data-slide='.sidebar') Back to Top
    .wrapper
      .header-wrapper
        include includes/_header
      .content-wrapper
          include includes/_sidebar
          main.right-col
            include includes/_view-tool
            include includes/_list-cat
            //- include includes/_services-section
            //- include includes/_clients-section
    footer.page-footer
    script(src="libs/jquery/jquery.min.js")
    script(src="libs/bPopup/jquery.bpopup.min.js")
    script(src="js/main.js")
    .slider-wrap__contacts#popup-window
          ul.contacts-list
            li.contacts-list__item.contacts-list__item--velcom + 375 29 1 800 600
            li.contacts-list__item.contacts-list__item--mts + 375 33 640 0 660
            li.contacts-list__item.contacts-list__item--address г. Минск, 1-й Короткий пер., 18а
             li.contacts-list__item.contacts-list__item--time 9:00 - 19:00
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day
            li.contacts-list__item.contacts-list__item--day-vacancy
          button.raw-button Карта проезда








             
